body {
 	background:url(/images/bg.png);
 	background-repeat: no-repeat;
    background-attachment: fixed; //是否滚动，fixed固定
    background-size: cover;      //填充
    background-position: center;
}  

//侧边框的透明度设置
.sidebar {
  opacity: 0.9;
}

//菜单栏的调色
.header-inner {		
  background: rgba(255,255,255,0.9);
}
//搜索框透明
.popup {		
  opacity: 0.9;
}

.main-inner {
    background-color: rgba(255, 255, 255, 0.9);  //主体背景透明
    padding: 0px 40px 40px 40px;  //调整组件位置
} 